---
layout: page
title: "关于"
description: "布衣暖 菜根香 诗书滋味长"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        走过了童话城堡和玄幻世界，我穿越到了另一个架空的科技社会。代码是每个人的武器，他们身披语言的铠甲，寄居网络的框架，化身数据流自由穿梭---却还要面对现实的蝇营狗苟。
    </blockquote>
    我是樊晋龙，这是我的博客，如果你看到了我的胡言乱语，一笑而过就好（似乎也没别的选择）。<br><br>
	大学以前用qq空间写点心情随笔文艺装逼文。非常清楚的记得高中写了一大本日记，每天晚上不想学习的时候就在纸上发泄不明所以的胡思乱想，可惜毕业的时候丢掉了。后来用的东西越来越多，干脆搭个博客整合起来，也不会再丢掉--当然丢掉的可能性也很大O(∩_∩)O。<br><br>
	不定期更新，可能是技术博客，可能是游记--最近总是出去玩，老发朋友圈别人会烦吧？也可能是没事干随便写一写。主要是给自己看，没有一个记录的东西，仿佛经历过事情都会慢慢忘掉，工作后的时间尤其是。据说一切伤感都和岁月有染（知乎看来的），那么我就尽量在这里多想多写。订立目标什么的空话就不说了，很大可能是自寻烦扰。哈哈，就这样吧。
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Work through the past,I'm going to a technology social.Code is weapon of everyone,they address by code language,live in net frame,and become data stream shuttle back and forth---while the people still need to go back to reality.
    </blockquote>

    <p>
        My name is fanjinlong,this is my blog,if you look at my words,just smile and pass(seemly you have no other choice).
    </p>

    <p>
		The last is too long,I'm lazzy ^_^.
    </p>

    <p style="text-align:right;">
    -- clowdrgn
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "虚极守静" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
